@inherits LayoutComponentBase
@inject ShopfloorServiceSignalRClient shopfloorServiceSignalRClient
@inject NavigationManager NavigationManager

<div class="page">
    <DxGridLayout CssClass="page-layout">
        <Rows>
            <DxGridLayoutRow Areas="header" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="content"></DxGridLayoutRow>
        </Rows>
        <Columns>
            @* <DxGridLayoutColumn Width="auto" /> *@
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="layout-sidebar">
                <Template>
                    <Header/>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="content" CssClass="content px-4">
                <Template>
                    @Body
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>