@page "/"
@inject IStringLocalizer<Lang> localizer
@inject ShopfloorServiceDataService shopfloorServiceDataService

<div class="welcome">
    <DxGridLayout CssClass="welcome-gridlayout" RowSpacing="3rem">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="cards"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="cards" CssClass="welcome-cards">
                <Template>
                    <IndexNavIcon NavLink="StationsDashboard" IconName="station" Text="@($"{localizer["Station Dashboard"]}")"></IndexNavIcon>
                    <IndexNavIcon NavLink="WorkordersDashboard" IconName="workorder" Text="@($"{localizer["Workorder Dashboard"]}")"></IndexNavIcon>
                    <IndexNavIcon NavLink="MapsDashboard" IconName="map" Text="@($"{localizer["Map Dashboard"]}")"></IndexNavIcon>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code{
    private List<StationConfig> stationConfigs;
    protected override Task OnInitializedAsync()
    {
        stationConfigs = shopfloorServiceDataService.GetStationConfigs();
        //Log.Information("Test", "UI");
        return base.OnInitializedAsync();
    }
}